:root {
  /* PRIMARY → Blue */
  --ifm-color-primary: #789ff5;
  --ifm-color-primary-dark: #15151e;
  --ifm-color-primary-darker: #15151e;
  --ifm-color-primary-darkest: #15151e;
  --ifm-color-primary-light: #ba9af7;
  --ifm-color-primary-lighter: #ba9af7;
  --ifm-color-primary-lightest: #ba9af7;

  /* SECONDARY → Teal */
  --ifm-color-secondary: #08c294;

  /* BACKGROUND */
  --ifm-background-color: #ffffff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: #789ff5;
}

[data-theme='dark'] {
  --ifm-color-primary: #789ff5;
  --ifm-color-secondary: #08c294;
  --ifm-background-color: #15151e;
  --docusaurus-highlighted-code-line-bg: #ba9af7;
}
